{%extends "Base.html"%}
{%block content%}
<h1> Borrow {{book.title}}
    <br>by <br>
    {{book.author}}? </h1><br>
{%endblock%}
{%block content2%}
<div class="row justify-content-center">
<form action="/borrowed/{{book.id}}" method="POST">{%csrf_token%}
    <input class="form-check-input" type="checkbox" onchange="document.getElementById('borrow').disabled = !this.checked;">Agree to <a href="">Terms and Conditions</a></input><br><br>
<!--<button id="hello" disabled onclick="{% url 'index' %}">Accept</button>-->
    <button type="submit" disabled id="borrow" class="btn btn-primary">Borrow</button>
</form>
</div>
{%endblock%}





