<!--{% load static %}-->

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Librarybooks</title>
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">-->
    <style>
    tr{
        background-color: lightblue;

    }
    tr:nth-child(even) {background-color: lightgreen;}

</style>
</head>
<body>

 <table border="1" align="center">
     <tr>
         <td><b>Title</b></td>
         <td><b>Publication Date</b></td>
         <td><b>Author</b></td>
         <td><b>Shelf Number</b></td>
         <td><b>Subject Area</b></td>
     </tr>
     {%for x in books%}
      <tr>
          <td>{{x.title}}</td>
          <td>{{x.publication_date}}</td>
          <td>{{x.author}}</td>
          <td>{{x.shelf_number}}</td>
          <td>{{x.subject_area}}</td>
      </tr>
     {%endfor%}

 </table>
</body>
</html>