{% extends "Base.html" %}
<!--{% load static %}-->

<!DOCTYPE html>

<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
   $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
    {% block title %}
    <title>Library Books</title>
    {% endblock %}
</head>
<body>


{% block table %}
     <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Publication Date</th>
      <th scope="col">Author</th>
      <th scope="col">Shelf Number</th>
        <th scope="col">Subject Area</th>
    </tr>
  </thead>
     <tbody>
     {%for x in books%}

      <tr class="clickable-table" data-href="Base.html">

          <td>{{x.title}}</td>
          <td>{{x.publication_date}}</td>
          <td>{{x.author}}</td>
          <td>{{x.shelf_number}}</td>
          <td>{{x.subject_area}}</td>

    </tr>

      </tbody>
     {%endfor%}
{% endblock %}

</body>
</html>