{% extends "Base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{%block title %}
    <title>Login</title>
{% endblock %}
</head>
<body>

{% block content %}
<div class="col d-flex justify-content-center ">
<div class="card " style="width: 30rem;">
<form action="{% url 'verify' %}" method="GET">{% csrf_token %}

   <h1>LOGIN</h1>
    Don't have an account? <a href="{% url 'SignUp' %}">Sign up</a>
     {{form|crispy}}
    <button type="submit" class="btn btn-primary ">Login</button>

</form>
</div>
</div>
{% endblock %}
</body>
</html>