{% extends "Base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Book Request</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="col d-flex justify-content-center ">
<div class="card " style="width: 30rem;">
<form action="{% url 'search_result' %}" method="GET">
{{form|crispy}}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>
</div>
{% endblock %}

</body>
</html>