{% extends "Base.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}
<title>Sign up</title>
{% endblock %}

</head>
<body>

{% block content %}
<div class="col d-flex justify-content-center ">
<div class="card " style="width: 30rem;">
<form action="." method="POST">{% csrf_token %}
    <h1>SIGN UP</h1>
    <h5> Already have an account? <a href="{% url 'Login' %}">Login</a></h5>
<!--    FIRST NAME:<br>-->
<!--    <input name="first_name"><br><br>-->
<!--    LAST NAME:<br>-->
<!--    <input name="last_name"><br><br>-->
<!--    USERNAME:<br>-->
<!--    <input name ="user_name"><br><br>-->
<!--    PASSWORD:<br>-->
<!--    <input type ="password"><br><br>-->
<!--    EMAIL:<br>-->
<!--    <input name ="email"><br><br>-->
    {{ form|crispy }}
    <button type ="submit" class="btn btn-primary">Sign up</button>

</form>
</div>
</div>
{% endblock %}


</body>
</html>